<%= provide(:title, 'New todo') %>
<h1>New todo</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model:[@user, @todo]) do |f| %>
      <%= render 'shared/error_messages', object: @todo %>

      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control' %>

      <%= f.submit 'Create new todo', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>